@{{ bibliography[key].type.upper() }}{ {{-key-}},
    {% if bibliography[key].persons|length > 0 %}
    {% for field in bibliography[key].persons %}
    {{ field.lower() }} = { {{-bibliography[key].persons[field]|join(" and ")-}} },
    {% endfor %}
    {% endif %}
    {% for field in bibliography[key].fields %}
    {% if field == "title" and parentheses[key] == False %}
    title = {{ bibliography[key].fields[field] }},
    {% else %}
    {{ field.lower() }} = { {{-bibliography[key].fields[field]-}} },
    {% endif %}
    {% endfor %}
}
